body {
  color: #343a40;
}

textarea.form-control:focus,
input[type='text']:focus,
input[type='password']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='date']:focus,
input[type='month']:focus,
input[type='time']:focus,
input[type='week']:focus,
input[type='number']:focus,
input[type='email']:focus,
input[type='url']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='color']:focus,
.uneditable-input:focus,
.form-select:focus {
  border-color: #19875499;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #19875499;
  outline: 0 none;
}

.form-check-input:checked {
  background-color: var(--bs-green);
  border-color: var(--bs-green);
}

.form-check-input:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #19875499;
}

.step-progress {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.step-progress .step::before {
  content: '';
  display: block;
  border: 2px solid var(--bs-gray-300);
  background: var(--bs-white);
  width: 0.75rem;
  aspect-ratio: 1;
  margin: 0 auto 0.5rem auto;
  border-radius: 50%;
}

.step-progress .step.step-active::before {
  border-color: var(--bs-success);
}

.step-progress .step.step-complete::before {
  --offset: 3px;
  background-color: var(--bs-success);
  border-color: var(--bs-success);
  width: calc(0.75rem + var(--offset));
  margin-top: calc(var(--offset) * -1);
}

.step-progress .step button {
  border: 0;
  background: transparent;
  color: var(--bs-gray-600);
}

.step-progress .step.step-complete button {
  color: var(--bs-gray-800);
}

.step-progress .step.step-active button {
  font-weight: 700;
}

.toggle:has([type='checkbox']:checked) ~ div {
  display: flex !important;
}

.pointer {
  cursor: pointer !important;
}

.image-upload-placeholder {
  background: var(--bs-gray-100);
  border: 1px dashed var(--bs-gray-500);
  padding: 8px 40px;
  aspect-ratio: 1;
}

.image-upload-placeholder:hover {
  background-color: var(--bs-gray-200);
}

.form-footer {
  background: var(--bs-white);
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
}

@media (min-width: 992px) {
  body {
    background: var(--bs-gray-100);
  }

  .w-lg-75 {
    width: 75% !important;
  }

  .form-footer {
    width: 100%;
    position: static;
  }
}
