body {
  color: #343a40;
}

textarea.form-control:focus,
input[type='text']:focus,
input[type='password']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='date']:focus,
input[type='month']:focus,
input[type='time']:focus,
input[type='week']:focus,
input[type='number']:focus,
input[type='email']:focus,
input[type='url']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='color']:focus,
.uneditable-input:focus,
.form-select:focus {
  border-color: #19875499;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #19875499;
  outline: 0 none;
}

.toggle:has([type='checkbox']:checked) ~ div {
  display: flex !important;
}

.pointer {
  cursor: pointer !important;
}

.image-upload-placeholder {
  background: var(--bs-gray-100);
  border: 1px dashed var(--bs-gray-500);
  padding: 8px 40px;
  aspect-ratio: 1;
}

.image-upload-placeholder:hover {
  background-color: var(--bs-gray-200);
}

.form-footer {
  background: var(--bs-white);
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
}

@media (min-width: 992px) {
  body {
    background: var(--bs-gray-100);
  }

  .w-lg-75 {
    width: 75% !important;
  }

  .form-footer {
    width: 100%;
    position: static;
  }
}
